<!-- <div id="debugging-data-table">
  <table>
    <% Station.find_each(:number => /(801)(.*)/) do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Station.find_each(:number => /(802)(.*)/) do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Station.find_each(:number => /(803)(.*)/) do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Station.find_each(:number => /(804)(.*)/) do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
</div>-->

<p id="source">Source: American Community Survey, 2010</p>
