<div class="grid">
  <div id="sidebar" class="unit one-third">
    <ul>
      <% @lines.each do |line| %>
      <li class="line_name" id="<%= line.name[0...-5] %>" data-line-id="<%= line.id %>" data-line-color="<%= line.color %>"><span class="circle" style="background-color: <%= line.color %>"></span><%= line.name %></li>
      <% end %>
    </ul>
  </div>

  <div id="chart" class="unit two-thirds">
    <center><h4>Choose a line to begin exploring Los Angeles median household income at its six Metro lines.</h4></center>
  </div>
</div>

<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 12px;
  }

  .label {
    font-size: 13px;
    font-style: italic;
  }

  .xAxis {
    font-size: 12px;
  }
</style>

<script type="text/javascript" id="sidebar">
  jQuery(document).ready(function ($) {
    // Write AJAX GET request for each line class on-click
      $("body").on("click", '.line_name', function(){
        // Empty #chart div first
        $("#chart").empty();
        // Get data
        $.ajax({
          method: "GET",
          url: "/line/" + $(this).attr("data-line-id") + "/stats",
          contentType: 'application/json',
          dataType: 'json',
          success: function(data) {
            // Save data as data, color from each loop
            data = data;
            color = $(this).attr("data-line-color");
            console.log(color);
            // d3Chart method fills chart
            d3Chart(data);
          }
        }); // End AJAX call
        }); // End on-click
  });
</script>

<script type="text/javascript" id="chart">
  // Create object for each, add to data array
  var d3Chart = function(data){

    console.log(data);

    // Set dimensions
    var barWidth = 15;
    var width = (barWidth + 10) * data.length;
    var height = 380;
    var padding = 50;

    // X = station
    var x = d3.scale.linear().domain([0, data.length]).range([0, width]);
    // Y = datapoint
    var y = d3.scale.linear().domain([0, d3.max(data, function(datum) { return datum.datapoint;})]).range([height, 0]);

    // Add the canvas to the DOM, id = #chart
    var bar = d3.select("#chart")
      .append("svg:svg")
      .attr("width", width + padding)
      .attr("height", height + padding);


    // Add yAxis
    var yAxis = d3.svg.axis()
                      .scale(y)
                      .orient('left')
                      .tickFormat(function(d, i) {return "$" + d / 1000 + "K";});
    bar.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(70,0)")
        .call(yAxis);

    // Add yAxis label
    bar.append("text")
       .attr("class", "label")
       .attr("text-anchor", "end")
       .attr("y", -15)
       .attr("x", -20)
       .attr("dy", "1.9em")
       .attr("transform", "rotate(-90)")
       .text("Median household income, inflation-adjusted (dollars)");

    //For each piece of data, add Rectangle
    bar.selectAll("rect")
      .data(data)
      .enter()
      .append("svg:rect")
      .attr("x", function(datum, index) { return 70 + x(index); })
      .attr("y", function(datum) { return height - y(datum.datapoint); })
      .attr("height", function(datum) { return y(datum.datapoint); })
      .attr("width", barWidth)
      .attr("fill", color);

  }
</script>
