<p>Find me in app/views/site/index.html.erb</p>

<table>
  <% Station.find_each(:number => /(801)(.*)/) do |station| %>
  <tr>
  <td><%= station.name =%></td>
  <td><%= number_to_currency(station.datapoints[0].point) =%></td>
  </tr>
  <% end %>
</table>
<hr>
<table>
  <% Station.find_each(:number => /(802)(.*)/) do |station| %>
  <tr>
  <td><%= station.name =%></td>
  <td><%= number_to_currency(station.datapoints[0].point) =%></td>
  </tr>
  <% end %>
</table>
<hr>
<table>
  <% Station.find_each(:number => /(803)(.*)/) do |station| %>
  <tr>
  <td><%= station.name =%></td>
  <td><%= number_to_currency(station.datapoints[0].point) =%></td>
  </tr>
  <% end %>
</table>
<hr>
<table>
  <% Station.find_each(:number => /(804)(.*)/) do |station| %>
  <tr>
  <td><%= station.name =%></td>
  <td><%= number_to_currency(station.datapoints[0].point) =%></td>
  </tr>
  <% end %>
</table>
<hr>

<script>
  // Create JavaScript data objects array to hold Ruby array of hashes
  data = <%= @stations.to_json.html_safe %>;
  // Create object for each, add to data array
  console.log(data)
</script>



