<!--  <div id="debugging-data-table">
  <table>
    <% Line.find_by_name('Gold Line').stations.each do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Line.find_by_name('Red Line').stations.each do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Line.find_by_name('Purple Line').stations.each do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Line.find_by_name('Expo Line').stations.each do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <table>
    <% Line.find_by_name('Blue Line').stations.each do |station| %>
    <tr>
    <td><%= station.name %></td>
    <td><%= number_to_currency(station.datapoints[0].point) %></td>
    </tr>
    <% end %>
  </table>
</div>
 -->
<!-- <p id="source">Source: American Community Survey, 2010</p>
 -->