<!DOCTYPE html>
<html>
<head>
  <title>Thirteen Ways of Looking at Los Angeles</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="app/assets/stylesheets/gridism/gridism.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="content">
    <div class="grid wrap">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
  <div class="grid wrap whole site-footer"><hr><%= render 'layouts/footer' %></div>
</body>
</html>
